<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/tones.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/common.js"></script>
    <script src="/audio.js"></script>
    <script src="/unmute.min.js"></script>
    <script src="/bufferToWave.js"></script>
    <title>quick loops</title>
  </head>
  <body>
    <script type="text/javascript">
      let colors = ['red', 'lightred', 'darkred', 'orange', 'orangered', 'darkorange', 'yellow', 'lightyellow', 'gold', 'green', 'lightgreen', 'darkgreen', 'blue', 'lightblue', 'darkblue', 'purple', 'lightpurple', 'darkpurple', 'pink', 'lightpink', 'white', 'black', 'gray', 'lightgray', 'brown', 'lightbrown']
    </script>
    <div id="actions">
      <div class="innerActions">
        <div style="flex: 0;" class="col left">
          <a id="ql" style="font-size: 1em;" href="/">QL</a>
        </div>
        <div class="col right">
          <% if !request.path.include?('/users/new') %>
            <a class="spaceRight" style="font-size: 1.0em;" href="/tunes/new">new tune</a>
          <% end %>
          <% if !request.path.include?('/users/new') && !request.path.include?('/posts') %>
            <a class="spaceRight" href="/posts">posts</a>
          <% end %>
          <% if current_user %>
            <a class="spaceRight" href="/users/<%= current_user.id %>">me</a>
          <% elsif !request.path.include?('/users/new') %>
            <a href="/users/new">log in</a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
