<div>
  <button id="startRadio" onclick="fetchAndPlayTune()" class="radioButton">Start Radio</button>
  <button id="skip" onclick="fetchAndPlayTune()" class="radioButton" disabled>Skip >></button>
</div>
<p><b>Now Playing:</b></p>
<div id="nowPlaying" class="nowPlaying">
</div>
<script type="text/javascript">
  const showLoading = () => {
    let loading = document.querySelector('#loading')
  }

  const stopRadio = () => {
    setPlayEndCallback(() => {
      let nowPlayingContainer = document.querySelector(`#nowPlaying`)
      while (nowPlayingContainer.firstChild) nowPlayingContainer.removeChild(nowPlayingContainer.lastChild)
      skip.disabled = true 
      startRadio.innerText = 'Start Radio'
      startRadio.onclick = fetchAndPlayTune
    }, () => {
      stop()
    })
  }

  const fetchAndPlayTune = () => {
    let nowPlayingContainer = document.querySelector(`#nowPlaying`)
    while (nowPlayingContainer.firstChild) nowPlayingContainer.removeChild(nowPlayingContainer.lastChild)
    let startButton = document.querySelector('#startRadio')
    let skipButton = document.querySelector('#skip')
    let xhr = new XMLHttpRequest();
    xhr.open('GET', '/random', true);
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.onreadystatechange = function() {
      if (this.readyState != 4) return
      if (this.status == 200) {
        let data = JSON.parse(this.responseText)
        nowPlayingContainer.insertAdjacentHTML('afterbegin', data.tuneHtml)

        let cont = nowPlayingContainer.firstChild
        let id = parseInt(cont.id.slice(4))
        let input = cont.querySelector(`:scope #tuneRep${id}`)
        let rep = input.value

        processTune(id, rep)

        forEach(cont.querySelectorAll(':scope .minilookContainer'), (i, ml) => {
          layoutMinilooks(ml)
        })

        setPlayEndCallback(() => setTimeout(fetchAndPlayTune, 3000))
        togglePlay(id, true)

        skip.disabled = false
        startRadio.innerText = 'Stop Radio'
        startRadio.onclick = stopRadio
      } else {
        console.error("BAD: ", this.status, this.responseText)
      }
    }

    xhr.send()
  }
</script>
<%= erb :minilookhelp %>
<%= erb :minihelp %>
