<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>" />
<% if !@tune.id %>
  <h2>
    new tune
  </h2>
<% else %>
  <div>
    <h2 class="inlineBlock">
      <%= @tune.name %>
    </h2>
    by
    <a href="/users/<%= @tune.user.id %>"><%= @tune.user.name %></a>
  </div>
<% end %>
<div class="title">sequence</div>
<div id="sequence">
  <select class="step">
    <option value>-</option>
    <option selected value=1>1</option>
  </select>
  <select class="step">
    <option selected value>-</option>
    <option>1</option>
  </select>
</div>
<div class="title">phrases</div>
<div class="phrases">
</div>
<div class="cont gridContainer proto">
  <div class="gridActions">
    <!-- <label>copy to phrase</label>
    <select class="phraseCopySelect">
      <option value>-</option>
    </select>
    <button class="copy">copy</button> -->
    <a href='#' class="noStyle delete">x</a>
  </div>
  <div class="t"><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div></div>
  <div class="inlineBlock">
    <label>wav</label>
    <select class="tone">
      <option value=0>sqr</option>
      <option selected value=1>sine</option>
      <option value=2>tri</option>
      <option value=3>nois</option>
      <option value=4>saw</option>
      <option value=5>drum</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>oct</label>
    <select class="octave">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option selected value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>len</label>
    <select class="notelength">
      <option value=0.25>¼</option>
      <option value=0.5>½</option>
      <option value=0.75>¾</option>
      <option selected value=1>1</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>vol</label>
    <select class="volume">
      <option value=0.25>¼</option>
      <option value=0.5>½</option>
      <option value=0.75>¾</option>
      <option selected value=1>1</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>pan</label>
    <select class="pan">
      <option value=0>l</option>
      <option value=1>lc</option>
      <option selected value=2>c</option>
      <option value=3>rc</option>
      <option value=4>r</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>rev</label>
    <select class="reverb">
      <option selected value=0>none</option>
      <option value=1>some</option>
      <option value=2>more</option>
      <option value=3>lots</option>
    </select>
  </div>
  <div class="inlineBlock" style="margin-top: 0.5em;">
    <label>copy grid to phrase</label>
    <select class="copy">
      <option selected value>-</option>
    </select>
  </div>
</div>
<div id="addphrase" onclick="createPhrase()">+</div>
<div class="bottomThing">
  <button>hi</button>
</div>
<div id="bottomActions">
  <button class="action" id="play" onclick="play()">play</button>
</div>
