html, body {
  font-family: monospace;
  font-size: 16px;
  height: 100%;
}

textarea, select, button, input, label, form {
  font-family: monospace;
  font-size: 16px;
}

.paintHint {
  font-size: 0.8em;
}

.copyright {
  font-size: 0.5em;
  text-align: right;
  flex-shrink: 0;
  padding-bottom: 1em;
  margin-top: auto
}

.copyGrid {
}

.miniHolder {
}

.downloadHolder {
  text-align: right;
}

.inlineBlock {
  display: inline-block;
}

h1 {
  margin: 0;
}

.radioButton {
  font-size: 1.2em;
}

.nowPlaying {
  margin: 1em 0 1em 0;
}

.smolTopAndBottomMargin {
  margin: 0.5em 0 0.5em 0;
}

.pointy {
  cursor: pointer;
}

.hidden {
  display: none;
}

.freeLookHolder {
  width: 100%;
  margin: 1em auto 1em auto;
}

.userName {
  margin-bottom: 1em;
  font-size: 1.1em;
}

.lookView {
  width: 100%;
  margin-bottom: 1em;
}

.msg {
}

.lookForm input {
  width: 100%;
}

.lookTools {
  margin-bottom: 0.5em;
  background-color: #EEEEEE;
  padding: 0.5em;
}

.lookTools p {
}

.look {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.colorCell {
  display: inline-block;
  width: 1em;
  cursor: pointer; 
}

.colorCell.selected {
  border: 5px solid black;
}

.lookCell {
  width: 6.25%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
}

.lookCellHeight {
  padding-top: 100%;
  pointer-events: none;
}

.secondLine {
  margin: 0.5em 0 0.5em 0;
}

.comms, .playHint {
}

#saveNotice {
  visibility: hidden;
}

form {
  display: inline;
  margin: 0;
  margin-block-end: 0;
}

.pb {
  -webkit-appearance: push-button;
}

a.fetch {
  display: block;
  margin-top: 0.5em;
}

a.noStyle:link {
  text-decoration: none;
  color: black;
}

a.noStyle:visited {
  text-decoration: none;
  color: black;
}

a.noStyle:hover {
  text-decoration: none;
  color: black;
}

a.noStyle:active {
  text-decoration: none;
  color: black;
}

select {
  appearance: menulist-button;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}

input[type="text"] {
  margin-top: 0.5em;
}

input[type="password"] {
  margin-top: 0.5em;
}

input[type="submit"] {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  margin-top: 0.5em;
}

button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

.spaceRight {
  margin-right: 0.5em;
}

.tuneAnchor {
  position: absolute;
  top: -3em;
}

.fullWidth {
  width: 100%;
}

.tuneAnchor2 {
  position: absolute;
  top: -12em;
}

.underActions button {
  margin: 0;
  width: 15%;
}

.underActions input {
  width: 40%;
}

input.error {
  border: 1px solid red;
}

.commentBody {
  margin: 5px 0 5px 0;
}

.commentButton {
  -webkit-appearance: button;
}

.paging {
  margin-top: 1em;
}

.paging.bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

.miniplay {
  width: 100%;
  margin: 15px 0 15px 0;
}

.commentInput {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tune, .post {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  position: relative;
  margin-top: 1em;
}

.submitPostHolder {
  text-align: right;
}

.newPost .body {
  display: block;
}

.post .body {
  margin-bottom: 1em;
}

.post .body .title {
  font-weight: bold;
  margin-bottom: 1em;
}

.post .body .text {
  margin-bottom: 1em;
}

.post .body .text span {
  white-space: pre-line;
}

.reply .replyBody span {
  white-space: pre-line;
}

.postInfo, .commentInfo, .replyInfo {
  font-style: italic;
  font-size: 0.8em;
  clear: both;
}

.quote {
  background-color: lightgray;
  margin: 1em;
  padding: 0.5em;
}

.postInfo a, .commentInfo a, .replyInfo a {
  font-style: normal;
  font-size: 1em;
}

.reply {
  padding: 1em 1em 1em 1em;
  border-top: 1px dashed black;
}

.replyInfo a {
  font-style: normal;
  font-size: 1em;
}

.replyInfo a {
  font-style: normal;
}

.replyBody {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.commentBody {
  font-size: 0.9em;
}

.tune.options {
  padding: 0;
}

.tune .options {
  display: flex;
}

.tune .options .option {
  padding: 0.5em;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  cursor: pointer;
}

.tune .options .option.active {
  border-bottom: none;
}

.tune .options .option:not(:last-child) {
  border-right: 1px solid black;
}

.tune .options .option .text {
  vertical-align: middle;
}

.tune .options .option.active .text {
  text-decoration: underline;
}

.tune.options .content {
  padding: 0.5em;
}

.tune:not(:last-child) {
}

.comms {
  text-align: right;
  position: relative;
  width: 100%;
}

.commentFormHolder {
  padding: 0.5em;
}

li.comment {
  text-align: left;
  padding: 0.5em;
}

li.comment:first-child {
  border-top: 1px dashed black;
  margin-top: 1em;
}

li.comment:not(:first-child) {
  margin-top: 0;
}

li.comment:not(:last-child) {
  border-bottom: 1px dashed black;
}

.tuneGrid {
  font-size: 0;
  position: relative;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

textarea {
  width: 100%;
  height: 5em;
}

#nameline {
  text-align: center;
}

#main {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  #main {
    width: 75%;
  }

  .freeLookHolder {
    width: 50%;
  }
}

@media only screen and (min-width: 800px) {
/* styles for browsers larger than 800px; */
  #main {
  }

  .lookView {
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  #main {
    width: 50%;
  }
}

#mainq {
  padding: 0 0.5em 0 0.5em;
}

#mainq h2 {
  margin: 0.5em 0 0.5em 0;
}

#sequence select {
  margin: 0.25em;
}

#mainq h3 {
  display: block;
}

ol {
  padding: 0;
  margin: 0;
  padding-left: 1em;
}

.title {
  margin: 0.5em 0 0.5em 0;
}

.bpmAndSuch {
  position: sticky;
  top: 0;
  left: 0;
}

.bpmAndSuch label, .bpmAndSuch input, .bpmAndSuch button, .bpmAndSuch select {
  margin: 0 0.2em;
}

.bpmAndSuch .dupPhrase, .bpmAndSuch .pasteGrid {
}

#actions {
  font-size: 1.1em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 2px solid black;
  padding: 0.5em;
}

.bottomThing {
  padding: 0.25em 1em 0.5em 1em;
  visibility: hidden;
  padding: 0.25em;
}

.nameLine {
  text-align: center;
}

.nameLine input {
  width: 60%;
}

.nameLine span {
  color: green;
}

#bottomActions {
  border-top: 2px solid black;
  padding: 0.25em;
  z-index: 2;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#bottomActions button {
  width: 100%;
  margin: 0;
  font-size: 1.2em;
}

.step {
  margin-bottom: 0.5em;
}

.gridActions {
  margin-bottom: 0.5em;
}

.gridContainer label, .gridContainer select, .gridContainer button {
}

.delete, .delPhrase {
  float: right;
}

.bpmLabel {
}

.innerActions {
  display: flex;
  flex-direction: row;
}

.innerActions a {
}

#actions button {
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
}

.col.left {
  justify-content: flex-start;
}

.col.leftBig {
}

.col.center {
  justify-content: center;
}

.col.right {
  justify-content: flex-end;
}


h2.no-bottom-margin {
  margin-bottom: 0;
}

h3 {
  display: inline;
  margin-right: 1em;
}

.centered {
  text-align: center;
}

.tan {
  background-color: antiquewhite;
}

.gray {
  background-color: #777777;
}

.phrase {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
}

.phrase:not(:last-child) {
  margin-bottom: 1em;
}

.error {
  color: red;
}

body {
  margin: 0;
  padding: 0;
}

.space {
  display: inline-block;
  width: 50px;
}

.add {
  margin: 1em 0.5em 0 0;
  height: 17em;
  width: 2em;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 17em;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

#addphrase {
  margin: 1em;
  cursor: pointer;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.add:hover {
  background-color: lightgray;
}

#addphrase:hover {
  background-color: lightgray;
}

.cont {
  white-space: normal;
  display: inline-block;
}

.t {
  cursor: pointer;
  color: #777777;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 1px;
  margin-bottom: 0.5em;
}

.t .d {
  box-sizing: border-box;
  display: inline-block;
  padding: 1px;
  width: 6.25%;
}

.t .d .b {
  padding-top: 100%;
  position: relative;
}

.t .d .b .c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.addloop {
  text-align: center; 
  height: 80px;
  line-height: 80px;
  margin: 1em auto;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #EEEEEE;
}

.addloop:hover {
  background-color: lightgray;
}

.gray2 {
  background-color: #CCCCCC;
}

.gray3, .lightgray {
  background-color: #EEEEEE;
}

.gray4 {
  background-color: #DDDEEE;
}

.gray5 {
  background-color: #EEEFFF;
}

.gray {
  background-color: #777777;
}

.lightbrown {
  background-color: sandybrown;
}

.brown {
  background-color: brown;
}

.red {
  background-color: red;
}

.lightred {
  background-color: indianred;
}

.darkred {
  background-color: darkred;
}

.orange {
  background-color: orange;
}

.orangered {
  background-color: orangered;
}

.darkorange {
  background-color: darkorange;
}

.yellow {
  background-color: yellow;
}

.lightyellow {
  background-color: lightyellow;
}

.gold {
  background-color: gold;
}

.green {
  background-color: green;
}

.lightgreen {
  background-color: lightgreen;
}

.darkgreen {
  background-color: darkgreen;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.darkblue {
  background-color: darkblue;
}

.purple {
  background-color: purple;
}

.lightpurple {
  background-color: mediumpurple;
}

.darkpurple {
  background-color: indigo;
}

.pink {
  background-color: pink;
}

.lightpink {
  background-color: lightpink;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.playHint {
  font-size: 12px;
  z-index: 1;
  background-color: black;
  color: white;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.proto {
  display: none;
}

.dupPhrase, .pasteGrid {
}
