html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%;
}

body {
  font-size: 3em;
}

#saveNotice {
  visibility: hidden;
  margin-left: 20px;
}

form {
  display: inline;
  margin: 0;
  margin-block-end: 0;
}

.pb {
  -webkit-appearance: push-button;
}

a.fetch {
  display: block;
  margin-top: 0.5em;
}

a.noStyle:link {
  text-decoration: none;
}

a.noStyle:visited {
  text-decoration: none;
}

a.noStyle:hover {
  text-decoration: none;
}

a.noStyle:active {
  text-decoration: none;
}

input, select, button, label {
  font-size: 1em;
}


mainq input, select, button, label {
  margin-right: 0.25em;
}

select {
  appearance: menulist-button;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}

input[type="text"] {
  margin-top: 0.5em;
}

input[type="password"] {
  margin-top: 0.5em;
}

input[type="submit"] {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  margin-top: 0.5em;
}

button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

.spaceRight {
  margin-right: 20px;
}

.qwelAnchor {
  position: absolute;
  top: -3em;
}

.underActions button {
  margin: 0;
  width: 15%;
}

.underActions input {
  width: 40%;
}

input.error {
  border: 1px solid red;
}

.commentBody {
  margin: 5px 0 5px 0;
}

.commentButton {
  -webkit-appearance: button;
}

.paging {
  margin-top: 20px;
  font-size: 0.8em;
}

.paging.bottom {
  margin-top: 50px;
}

.miniplay {
  width: 100%;
  margin: 15px 0 15px 0;
}

.commentInput {
  width: 100%;
}

.commentButton {
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.qwel {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  margin-top: 50px;
}

.qwel:not(:last-child) {
  margin-bottom: 50px;
}

.comms {
  text-align: right;
  position: relative;
  width: 100%;
  font-size: 0.6em;
  margin-top: 1em;
}

li.comment {
  text-align: left;
  padding: 20px;
}

li.comment:not(:first-child) {
  margin-top: 0;
}

li.comment:not(:last-child) {
  border-bottom: 1px dashed black;
}

.qwelGrid {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-top: 0.5em;
  display: inline-block;
}

#nameline {
  text-align: center;
}

#main {
  padding: 20px;
}

@media only screen and (min-width: 960px) {
/* styles for browsers larger than 960px; */
  #main {
  }
}

@media only screen and (min-width: 1400px) {
/* styles for browsers larger than 960px; */
  #main {
    width: 50%;
  }
}

#mainq {
  padding: 0 20px 0 20px;
  font-size: 0.8em;
}

#mainq h2 {
  margin: 20px 0 20px 0;
}

#mainq h3 {
  display: block;
}

ol {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.bpmAndSuch {
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 1em;
}

#actions {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 2px solid black;
  padding: 0.25em 1em 0.5em 1em;
}

.bottomThing {
  padding: 0.25em 1em 0.5em 1em;
  visibility: hidden;
  padding: 0.25em;
  font-size: 2em;
}

.nameLine {
  text-align: center;
}

.nameLine input {
  width: 50%;
}

.nameLine span {
  color: green;
}

#bottomActions {
  border-top: 2px solid black;
  padding: 0.25em;
  font-size: 2em;
  z-index: 2;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#bottomActions button {
  width: 100%;
}

.step {
  margin-bottom: 0.5em;
}

.gridActions {
  margin-bottom: 0.5em;
}

.delete {
  float: right;
}

.bpmLabel {
  margin-left: 0.5em;
}

.innerActions {
  display: flex;
  flex-direction: row;
}

#actions button {
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
}

.col.left {
  justify-content: flex-start;
}

.col.leftBig {
}

.col.center {
  justify-content: center;
}

.col.right {
  justify-content: flex-end;
}


h2.no-bottom-margin {
  margin-bottom: 0;
}

h3 {
  display: inline;
  margin-right: 20px;
}

.centered {
  text-align: center;
}

.tan {
  background-color: antiquewhite;
}

.gray {
  background-color: #777777;
}

.phrase {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
}

.phrase:not(:last-child) {
  margin-bottom: 1em;
}

.error {
  border-color: red;
}

body {
  margin: 0;
  padding: 0;
}

.space {
  display: inline-block;
  width: 50px;
}

.add {
  height: 310px;
  width: 2em;
  margin: 0 1em 0 0.5em;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 310px;
  cursor: pointer;
  background-color: #EEEEEE;
}

#addphrase {
  margin: 1em;
  cursor: pointer;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: #EEEEEE;
}

.add:hover {
  background-color: lightgray;
}

#addphrase:hover {
  background-color: lightgray;
}

.cont {
  white-space: normal;
  display: inline-block;
  font-size: 0.8em;
}

.t {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 1px;
  font-size: 0.8em;
}

.t .d {
  box-sizing: border-box;
  display: inline-block;
  padding: 1px;
  width: 6.25%;
}

.t .d .b {
  padding-top: 100%;
  position: relative;
}

.t .d .b .c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.addloop {
  text-align: center; 
  height: 80px;
  line-height: 80px;
  margin: 20px auto;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #EEEEEE;
}

.addloop:hover {
  background-color: lightgray;
}

.gray2 {
  background-color: #CCCCCC;
}

.gray3 {
  background-color: #EEEEEE;
}

.gray {
  background-color: #777777;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

h1 {
  font-size: 2em;
}

.comment {
  font-size: 1.0em;
}

.playHint {
  z-index: 1;
  font-size: 0.7em;
  background-color: black;
  color: white;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px 5px 10px;
}

.sortHolder {
  font-size: 0.8em;
  padding: 20px 0 20px 0;
}

.commentInfo {
  font-size: 0.9em;
  font-style: italic;
}

.proto {
  display: none;
}
